<div class='container'>
    <div class='card'>
        <div class="card-title brown darken-4">
            <span>{{post.title}}</span>
        </div>
        <div class='card-content'>

            <p>{{post.content}}</p>
        </div>
        <div class='card-action brown-text text-darken-4'>
            {{!-- comments made - routing to the related single post --}}
            <a href='/post/{{id}}'>{{post.comments.length}} comment(s)</a>
        </div>
    </div>
    <div class='card'>


        <form class='card-content comment-form'>
            <span class='brown-text text-darken-4'>Add your comments</span>
            <div>
                <textarea name='comment-body' class='materialize-textarea white'></textarea>
            </div>

            <div class='center'>
                <button type='submit' class='btn grey darken-3'>Submit</button>
            </div>
        </form>
    </div>
    {{!-- rendering the comments --}}
    <div class='card-panel'>
        {{#each post.comments as |comment|}}
        <div class='card-content'>

            <p> {{comment_text}}</p>
            <br />
            <p>--{{user.username}}, {{created_at}}</p>
        </div>
        {{/each}}


    </div>


</div>